nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    z-index: 10;
    box-shadow: 0px -4px 5px #e6e0e0;
    background-color: var(--color-white);
}

.item__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.nav__icon {
    font-size: 22px;
    color: var(--text_color_secondary);
}


nav p {
    font-size: .6rem;
    color: var(--text_color_secondary);
}

.item__nav:hover .nav__icon {
    color: var(--color-red);
}

.item__nav:hover .nav__text{
    color: var(--color-red);
}